.analiz {
  margin-bottom: 100px;
}
.analiz__titleMainWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}
.analiz__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #1a0909;
  margin-bottom: 12px;
}
.analiz___subTitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #766b6b;
}
.analiz__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #c80823;
  position: relative;
  padding-right: 16px;
  &::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: url(../../../assets/arrowRight.svg) no-repeat center center;
    position: absolute;
    top: 0;
    right: 0;
  }
}
.analiz__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 28px;
}
.analiz__item {
  width: 263px;
  background: #ffffff;
  border: 1px solid #f0f0f0;
  border-radius: 14px;
  padding: 24px;
}
.analiz__item:hover .analiz__itemBtn {
  background-color: #c80823;
  color: #ffffff;
}
.anali__itemTitle {
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #1a0909;
}
.analiz__itemSubTitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #c80823;
  margin-top: 16px;
}
.analiz__itemTitleWrapper {
  height: 117px;
  margin-bottom: 12px;
}
.analiz__itemCost {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #766b6b;
  margin-bottom: 16px;
}
.analiz__itemBtn {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #766b6b;
  background-color: #f0f0f0;
  padding: 16px 61px 16px 81px;
  border-radius: 36px;
  border: none;
  cursor: pointer;
  position: relative;
}
.analiz__itemBtmImg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 51px;
}
.analiz__link--mobile {
  display: none;
}

// MOBILE DESIGN --------------------------------------------------------------------------------------------------

@media only screen and (max-width: 1160px) {
  .analiz {
    margin-bottom: 88px;
  }
  .analiz__titleMainWrapper {
    margin-bottom: 24px;
  }
  .analiz__title {
    font-weight: 700;
    font-size: 29px;
    line-height: 38px;
  }
  .analiz___subTitle {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
  }
  .analiz__link {
    display: none;
  }
  .analiz__list {
    gap: 16px;
  }
  .analiz__item {
    width: 100%;
  }
  .analiz__itemTitleWrapper {
    height: 81px;
    margin-bottom: 16px;
  }
  .analiz__itemCostWrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  .analiz__itemCost {
    text-align: left;
    margin-bottom: 0;
  }
  .analiz__itemBtn {
    padding: 16px 24px 16px 50px;
  }
  .analiz__itemBtmImg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
  }
  .analiz__link--mobile {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 224px;
  }
}
